# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/

# Environment variables
.env

# Flask instance folder
instance/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# SQLite database
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
